<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOG_HOME" value="logs"/>
  <property name="encoding" value="UTF-8"/>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_HOME}/springboot-swagger2.log</file>
    <Append>true</Append>
    <prudent>false</prudent>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{traceId}] %-5level %logger{50} %line - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--归档日志文件名-->
      <FileNamePattern>${LOG_HOME}/springboot-swagger2.log.%d{yyyy-MM-dd}</FileNamePattern>
      <maxHistory>15</maxHistory> <!-- 最多保存15天历史文件 -->
    </rollingPolicy>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{traceId}] %-5level %logger %line - %m%n</pattern>
    </encoder>
  </appender>

  <!--开发环境:打印控制台-->
  <springProfile name="dev">
    <root level="DEBUG">
      <appender-ref ref="STDOUT"/>
    </root>
    <!--<logger name="com.zk.job" level="debug"/>-->
  </springProfile>

  <!--线上环境:打印控制台-->
  <springProfile name="prod">
    <root level="DEBUG">
      <appender-ref ref="FILE"/>
      <appender-ref ref="STDOUT"/>
    </root>
    <!--<logger name="com.zk.job" level="info"/>-->
  </springProfile>

</configuration>