<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/tx    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       "
	default-autowire="byName">

	<bean id ="commonThreadPoolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="2"></property>
		<property name="maxPoolSize" value="10"></property>
		<property name="queueCapacity" value="300"></property>
		<property name="keepAliveSeconds" value="300"></property>
		<!--<property name="rejectedExecutionHandler" value="java.util.concurrent.ThreadPoolExecutor.DiscardPolicy"></property>-->
		<property name="threadGroupName" value="commonThread-"></property>
	</bean>

</beans>
